@use '../../../utils/functions' as fn;

@if index($btn-types, frame) {

    /* ==Frame == */
    .btn--frame {
        border-color: fn.get-color('accent-primary');

        &:active {
            border-color: fn.get-color('accent-tertiatry');
        }

        @media (hover: hover) {

            &:hover,
            &:focus {
                border-color: fn.get-color('accent-secondary');
            }
        }

        &[disabled] {
            background-color: rgba(fn.get-color('light-secondary'), 0.5);
        }
    }
}