@use '../../../utils/functions' as fn;

@if index($btn-types, success) {

    /* == Success == */
    .btn--success {
        background-color: fn.get-color('success');

        &:active {
            background-color: darken(fn.get-color('success'), 10%);
        }

        @media (hover: hover) {

            &:hover,
            &:focus {
                background-color: lighten(fn.get-color('success'), 10%);
            }
        }

        &[disabled] {
            background-color: fn.get-color('light-secondary');
        }
    }
}