@use '../../../utils/functions' as fn;

@if index($btn-types, warning) {

    /* == Warning == */
    .btn--warning {
        background-color: fn.get-color('warning');

        &:active {
            background-color: darken(fn.get-color('warning'), 10%);
        }

        @media (hover: hover) {

            &:hover,
            &:focus {
                background-color: lighten(fn.get-color('warning'), 10%);
            }
        }

        &[disabled] {
            background-color: fn.get-color('light-secondary');
        }
    }
}